#container{
   			width: 100%;
   			height: 700px;
   			background:url(../imagens/escritorio1.jpg);
   			background-size: cover; 
            -webkit-box-shadow: 0px 0px 8px black inset;
            -moz-box-shadow: 0px 0px 8px black inset;
            box-shadow: 0px 0px 8px black inset;
   		}

   		#conteudoum{
   			width: 700px;
   			padding: 190px 20px 100px 20px;
   			margin-left:150px;
            text-shadow: 2px 2px 5px black;
   		}

   		#rgba{
   			background:rgba(80,73,89,0.3);
   			width: 100%; padding: 0; margin: 0;
   			height: 700px;
   		}

   		h1,h3{
   			padding:0; margin: 0;
   		}


   		.p-foto{
   			margin-top: 25px;
   			font-size: 18px;
   		}

   		.principal{
   			padding: 13px 50px; 
   			margin-right: 15px;
   			border: none;
   			color: white;
   			font-size: 14px;
   			text-transform: uppercase;
   			font-weight: bold;
   			float: right;
   			border-radius: 7px;
   			box-shadow: 2px 2px 1px gray;
   		}

@media only screen and (max-width: 920px) {
   #container{
      width: 100%;
      height: 550px;
   }
   #conteudoum{
      width: 80%;
      padding: 140px 10%; 
      margin:0;
   }
   .principal{
      padding: 10px 30px; 
      font-size: 13px;
   }
}

@media only screen and (max-width: 768px) {
   #container{
      width: 100%;
      height: 650px;
   }
   #conteudoum{
      width: 90%;
      padding: 120px 5%;
   }
   #gratis{ text-align: center; }
   .principal{
      padding: 10px 30px; 
      font-size: 12px;
      margin: 7px 25%;
      width: 50%;
   }
}